.bgContact{
    width: 100%;
    background-image:url(../../assets/images/bg/bg-contact.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contContact{
    font-size: 1.7rem;
    width: 50%;
    height: 600px;
    padding: 1rem 5rem;
    margin: auto 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.textContact{
    width: 100%;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactWsp{
    width: 25px;
    margin: auto 10px;
}

.buttonWsp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 15px;
}

/* TABLETS VIEWS */
@media (min-width: 768px) and (max-width: 1024px){
    .bgContact{
        width: 100%;
        background-image:url(../../assets/images/bg/bg-contact.png);
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .contContact{
        font-size: 1.5rem;
        width: 90%;
        height: 600px;
        padding: 3rem 0rem 3rem 25rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .textContact{
        width: 100%;
        padding: 0.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .buttonWsp{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        border-radius: 15px;
        font-size: 2rem;
    }
}


/* CEL VIEWS */
@media (max-width: 767.98px){
    .bgContact{
        width: 100%;
        background-image:url(../../assets/images/bg/bg-contact.png);
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .contContact{
        font-size: 1rem;
        width: 90%;
        height: 300px;
        padding: 0.5rem 0rem 1.5rem 13.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .textContact{
        width: 100%;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 0.7rem;
    }
    .buttonWsp{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        font-size: 0.8rem;
    }
    .contactWsp{
        width: 20px;
        margin: auto 10px;
    }
}