.navJust{
    background: white;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contIzq{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.imgHeader{
    width: 100px;
}
.contDer{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bold{
    font-weight: bold;
}