* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  -webkit-box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f5f5f5 !important;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.4;
  font-weight: 500;
}

p {
  color: rgb(14, 35, 41);
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin: 0;
}
/* 
div {
  display: block !important;
} */

a,
span {
  display: inline-block;
}

a:hover,
span:hover {
  text-decoration: none;
}

/* =================== [ Helper Classes ] =================== */

.hero-img {
  background-image: url(../../assets/images/bg/bg-hero-home.jpg);
}

.bg-img {
  position: relative;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.fullscreen {
  min-height: 100vh;
  width: 100%;
}

section.fullscreen {
  height: 100%;
}

/* ------------------ Text Color ------------------ */

.tpurple {
  color: #734061;
}

.tpurple-light {
  color: #74688d;
}

.tpurple-lither {
  color: #d8bad9;
}

.bg-purple {
  background-color: #734061;
  color: #ffff;
}

.hover\:text-10xl:hover {
  font-size: 2.5rem /* px */;
  line-height: 1;
}

.hover\:bg-purple-dark:hover {
  background-color: #532c46;
}

.bg-purple-light {
  background-color: #a8a8ef;
  color: #ffff;
}

.bg-purple-lighter {
  background-color: #c2bdcf;
  color: #ffff;
}

li {
  width: 7.5em;
  height: 7.5em;
  text-align: center;
  line-height: 7.5em;
  border-radius: 7.5em;
  background: #74688d;
  margin: 0 1em;
  color: #ffff;
  position: relative;
  margin: 4em;
  z-index: 2;
}

li::before {
  content: "";
  position: absolute;
  top: 3.5em;
  left: 7.5em;
  width: 9.5em;
  height: 0.3em;
  flex-grow: 1;
  background-color: #ffff;
  z-index: -1;
}

li:last-child::before {
  display: none;
}

li span {
  font-size: 5em;
  font-weight: 600;
}

.just-big-bottle {
  position: absolute;
  top: -48em;
  right: -27em;
  width: 75%;
  z-index: 1;
}

.just-bottle {
  position: absolute;
  top: -20em;
  right: 0em;
  width: 50%;
  z-index: 1;
}

.just-bottle-base {
  position: absolute;
  top: -10em;
  right: -2.5em;
  width: 40%;
}

/* ------------------ RESPONSIVE ----------- */
@media (max-width: 991.98px) {
  li {
    width: 5em;
    height: 5em;
    text-align: center;
    line-height: 5em;
    border-radius: 5em;
    background: #74688d;
    margin: 0 1em;
    color: #ffff;
    position: relative;
    margin: 2em;
    z-index: 2;
  }

  li::before {
    content: "";
    position: absolute;
    top: 2.5em;
    left: 5em;
    width: 5.5em;
    height: 0.3em;
    flex-grow: 1;
    background-color: #ffff;
    z-index: -1;
  }

  li:last-child::before {
    display: none;
  }

  li span {
    font-size: 3em;
    font-weight: 600;
  }

  .just-big-bottle {
    position: absolute;
    top: -48em;
    right: -27em;
    width: 75%;
    z-index: 1;
  }

  .just-bottle {
    position: absolute;
    top: -20em;
    right: 0em;
    width: 50%;
    z-index: 1;
  }

  .just-bottle-base {
    position: absolute;
    top: -10em;
    right: -2.5em;
    width: 40%;
  }
}

@media (max-width: 768.98px) {
  .just-big-bottle {
    overflow: hidden;
    position: relative;
    top: -27em;
    right: -20em;
    width: 75%;
    z-index: 1;
  }

  .just-bottle {
    overflow: hidden;
    position: relative;
    top: -42em;
    right: -20.5em;
    width: 50%;
    z-index: 1;
  }

  .just-bottle-base {
    overflow: hidden;
    position: relative;
    top: -55em;
    right: -22em;
    width: 45%;
  }
}

@media (max-width: 575.98px) {
  .just-big-bottle {
    position: absolute;
    top: -48em;
    right: -27em;
    width: 75%;
    z-index: 1;
  }

  .just-bottle {
    position: absolute;
    top: -20em;
    right: 0em;
    width: 50%;
    z-index: 1;
  }

  .just-bottle-base {
    position: absolute;
    top: -10em;
    right: -2.5em;
    width: 40%;
  }
}
